{% spaceless %}{{ include("header.html") }}
    <div class="page">
      <div class="page-main">
          {{ include("head_menu.html") }}
          {{ include("main_menu.html") }}
            {{ include("ads_col1.html") }}
            {% set items = get("items") %}
            <div class="page-header d-flex">
              <h1 class="page-title">
                 {{l("upgrade_account")}}
              </h1>
              <div class="text-right ml-auto">{{ currency_options() }}</div>
            </div>

            <div class="row">

                {% set items = get("items") %}
                {% if items %}
                    {% for item in items %}
                    {% set color = "azure" %}
                    <div class="col-lg-4">
                        <div class="card{% if not check_plan(item.id) %} disabled_plan{% endif%}">
                            {% if item["featured"] == '1' %}<div class="card-status bg-{{color}}"></div>{% endif %}
                            <div class="card-body text-center">
                              <div class="card-category text-{{color}}">{{ item.name }}</div>
                              <div class="display-3 my-4">{{ currency_convert(item.price)|number_format(1, '.', ',') }}<small style="font-size:0.3em;" >{{ current_currency()|upper }}</small></div>
                              <div class="list-group list-group-transparent mt-0 mb-0">
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-clock text-{{color}}"></i></span>
                                      {{ plan_duration(item.duration) }}
                                  </span>
                                  {% if s("exchange/source")|lower != "yes" %}
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-activity text-{{color}}"></i></span>
                                       {{ l("traffic_source") }}
                                  </span>
                                  {% endif %}
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-globe text-{{color}}"></i></span>
                                      +{{ item.website_slots }} {{ l("website_slots") }}
                                  </span>
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-server text-{{color}}"></i></span>
                                      +{{ item.session_slots }} {{ l("session_slots") }}
                                  </span>
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-percent text-{{color}}"></i></span>
                                      {{ item.traffic_ratio }}% {{ l("traffic_ratio") }}
                                  </span>
                                  {% if s("geotarget/access")|lower != "free" %}
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-tablet text-{{color}}"></i></span>
                                       {{ l("custom_useragent") }}
                                  </span>
                                  {% endif %}
                                  {% if s("exchange/useragent")|lower != "free" %}
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-map-pin text-{{color}}"></i></span>
                                       {{ l("get_target") }}
                                  </span>
                                  {% endif %}
                                  <span class="text-left list-group-item list-group-item-action d-flex align-items-center" >
                                      <span class="icon mr-3"><i class="fe fe-cpu text-{{color}}"></i></span>
                                      {{ l("instant_activation") }}
                                  </span>
                              </div>
                              <div class="text-center mt-6">
                                <a href="{{ router("checkout", '{"id":"'~surfow_encrypt(item.id)~'"}') }}" class="btn btn-{{color}} btn-block"><i class="fe fe-shopping-cart"></i> {{ l("choose_plan") }}</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>{{ l("error_empty_items") }}</p>
                {% endif %}

            </div>
            {{ _get("pagination") }}

            {{ include("ads_col2.html") }}
      </div>
      {{ include("footer_content.html") }}
    </div>
{{ include("footer.html") }}{% endspaceless %}
