{% spaceless %}{{ include("header.html") }}
{% set item = get("item") %}
    <div class="page">
        <div class="page-main">
          {{ include("head_menu.html") }}
          {{ include("main_menu.html") }}
          <div class="my-3 my-md-5">
              <div class="container">
                <div class="page-header">
                  <h1 class="page-title">
                    {{ _get("title2") }}
                  </h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ include("plans_menu.html") }}

                        <form class="card surfow_ajaxform"
                        data-redirect=""
                        data-method="post"
                        data-action="manage-plan"
                        data-type="user" >
                        <input type="hidden" name="id" value="{{ item.id }}" />
                        <input type="hidden" name="action" value="edit" />
                        {{ put_session_key() }}
                          <div class="card-body p-6">
                            <div class="surfow_alert" ></div>

                            <div class="row">
                            <div class="col-lg-6 col-12">

                            <div class="form-group">
                              <label class="form-label">{{ l("plan_name") }}</label>
                              <div class="input-icon">
                                <span class="input-icon-addon">
                                    <i class="fe fe-package"></i>
                                </span>
                                <input type="text" name="name" value="{{ item.name }}" class="form-control" placeholder="{{ l("plan_name") }}">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="form-label">{{ l("price") }}</label>
                              <div class="input-icon">
                                <span class="input-icon-addon">
                                    <i class="fe fe-dollar-sign"></i>
                                </span>
                                <input type="text" name="price" value="{{ item.price }}" class="form-control" placeholder="{{ l("price") }}">
                              </div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">{{ l("plan_type") }}</div>
                                <div class="custom-switches-stacked">
                                  <label class="custom-switch">
                                    <input type="radio" name="type" value="upgrade" class="change_plan_type custom-switch-input" {% if item.type == 'upgrade' %}checked=""{% endif %}>
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">{{ l("upgrade_plan") }}</span>
                                  </label>
                                  <label class="custom-switch">
                                    <input type="radio" name="type" value="traffic" class="change_plan_type custom-switch-input" {% if item.type == 'traffic' %}checked=""{% endif %}>
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">{{ l("traffic_plan") }}</span>
                                  </label>
                                  <label class="custom-switch">
                                    <input type="radio" name="type" value="websites" class="change_plan_type custom-switch-input" {% if item.type == 'websites' %}checked=""{% endif %}>
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">{{ l("websites_plan") }}</span>
                                  </label>
                                  <label class="custom-switch">
                                    <input type="radio" name="type" value="sessions" class="change_plan_type custom-switch-input" {% if item.type == 'sessions' %}checked=""{% endif %}>
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">{{ l("sessions_plan") }}</span>
                                  </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">{{ l("featured_plan") }}</div>
                                <label class="custom-switch">
                                  <input type="checkbox" name="featured" valuee="on" class="custom-switch-input" {% if item.featured == '1' %}checked=""{% endif %}>
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">{{ l("activate") }}</span>
                                </label>
                            </div>

                            </div>
                            <div class="col-lg-6 col-12">
                                <div id="points" style="display:none;" class="form-group">
                                  <label class="form-label">{{ l("plan_points") }}</label>
                                  <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-database"></i>
                                    </span>
                                    <input type="number" name="points" value="{{ item.points }}" class="form-control" placeholder="{{ l("plan_points") }}">
                                  </div>
                                </div>
                                <div id="websites" class="form-group">
                                  <label class="form-label">{{ l("website_slots") }}</label>
                                  <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-globe"></i>
                                    </span>
                                    <input type="number" name="websites" value="{{ item.website_slots }}" class="form-control" placeholder="{{ l("website_slots") }}">
                                  </div>
                                </div>
                                <div id="sessions" class="form-group">
                                  <label class="form-label">{{ l("session_slots") }}</label>
                                  <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-server"></i>
                                    </span>
                                    <input type="number" name="sessions" value="{{ item.session_slots }}" class="form-control" placeholder="{{ l("session_slots") }}">
                                  </div>
                                </div>
                                <div id="ratio" class="form-group">
                                  <label class="form-label">{{ l("traffic_ratio") }}</label>
                                  <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-percent"></i>
                                    </span>
                                    <input type="number" name="ratio" value="{{ item.traffic_ratio }}" class="form-control" placeholder="{{ l("traffic_ratio") }}">
                                  </div>
                                </div>

                                {% set dur = item.duration|split('-') %}
                                <div id="duration" class="form-group">
                                    <label class="form-label">{{ l("plan_duration") }}</label>
                                    <div class="row gutters-xs">
                                      <div class="col-4">
                                          <input type="number" name="duration" value="{{ dur[0] }}" class="form-control" placeholder="{{ l("plan_duration") }}">
                                      </div>
                                      <div class="col-8">
                                          <div class="selectgroup w-100">
                                            <label class="selectgroup-item">
                                              <input type="radio" name="duration_type" value="d" class="selectgroup-input" {% if dur[1] == 'd' %}checked=""{% endif %}>
                                              <span class="selectgroup-button">{{ l("day") }}</span>
                                            </label>
                                            <label class="selectgroup-item">
                                              <input type="radio" name="duration_type" value="m" class="selectgroup-input" {% if dur[1] == 'm' %}checked=""{% endif %}>
                                              <span class="selectgroup-button">{{ l("month") }}</span>
                                            </label>
                                            <label class="selectgroup-item">
                                              <input type="radio" name="duration_type" value="y" class="selectgroup-input" {% if dur[1] == 'y' %}checked=""{% endif %}>
                                              <span class="selectgroup-button">{{ l("year") }}</span>
                                            </label>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                            </div>
                            </div>

                            <div class="form-footer mt-0">
                              <button type="submit" class="surfow_submit btn btn-indigo btn-pill"><i class="fe fe-save mr-2"></i> {{ l("save") }}</button>
                            </div>
                          </div>
                        </form>
                        <script>
                        require(["jquery"], function($){

                            function switch_params(type)
                            {
                                if(type == "upgrade")
                                {
                                    $('#websites').add('#sessions').add('#ratio').add('#duration').slideDown(300);
                                    $('#points').slideUp(300);
                                }

                                if(type == "traffic")
                                {
                                    $('#websites').add('#sessions').add('#ratio').add('#duration').slideUp(300);
                                    $('#points').slideDown(300);
                                }

                                if(type == "websites")
                                {
                                    $('#points').add('#sessions').add('#ratio').add('#duration').slideUp(300);
                                    $('#websites').slideDown(300);
                                }

                                if(type == "sessions")
                                {
                                    $('#points').add('#websites').add('#ratio').add('#duration').slideUp(300);
                                    $('#sessions').slideDown(300);
                                }
                            }
                            $(document).ready(function(){
                                $('.change_plan_type').change(function(){
                                    var type = $(this).val();
                                    switch_params(type);
                                });
                                switch_params($('[name="type"]:checked').val());
                            });
                        });
                        </script>

                    </div>
                </div>
              </div>
          </div>
        </div>
        {{ include("footer_content.html") }}
    </div>
{{ include("footer.html") }}{% endspaceless %}
