{% spaceless %}{{ include("header.html") }}
{% set user = get("user") %}
{% set item = get("item") %}
    <div class="page">
        <div class="page-main">
          {{ include("head_menu.html") }}
          {{ include("main_menu.html") }}
          <div class="my-3 my-md-5">
              <div class="container">
                <div class="page-header">
                  <h1 class="page-title">
                    {{ _get("title2") }}
                  </h1>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        {{ include("profile_menu.html") }}
                    </div>
                    <div class="col-lg-9 col-md-12">

                        <div class="card">

                          <div class="card-body">
                              <div class="row">
                                  <div class="col-12">
                                      <form class="surfow_ajaxform"
                                      data-redirect=""
                                      data-method="post"
                                      data-action="edit-website"
                                      data-type="user" >
                                          {{ put_session_key() }}
                                          <div class="surfow_alert mb-1 mt-1" ></div>
                                          <input type="hidden" name="id" value="{{ item.id }}" />
                                          <div class="card">
                                            <div class="card-status card-status-left bg-indigo"></div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="form-label">{{ l("web_address") }}</label>
                                                    <div class="input-icon">
                                                        <span class="input-icon-addon">
                                                            <i class="fe fe-globe"></i>
                                                        </span>
                                                        <input class="form-control" placeholder="{{ l("web_example_url") }}" value="{{ item.url|e }}" name="url" type="text">
                                                    </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card">
                                            <div class="card-status card-status-left bg-indigo"></div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="form-label">{{ l("visit_duration") }}</label>
                                                    <input type="text" style="display:none;" id="visite_duration_range" name="duration" value="{{ item.duration }}" />
                                                    <span><i class="fe fe-activity"></i> {{ l("estimated_visits") }} <b id='calculate_visits' >...</b></span>
                                                    <script>
                                                    require(['slider', 'jquery'], function(ionRangeSlider, $) {
                                                        $(document).ready(function(){
                                                            $("#visite_duration_range").ionRangeSlider({
                                          					type: "single",
                                          					min: {{ s("exchange/minduration") }},
                                          					max: {{ s("exchange/maxduration") }},
                                          					from: {{ item.duration }},
                                          					keyboard: true,
                                          					onStart: function (data) {
                                          						estimated_visits(data["from"], "#calculate_visits", {{ s("nochange/point") }});
                                          					},
                                          					onChange: function (data) {
                                          						estimated_visits(data["from"], "#calculate_visits", {{ s("nochange/point") }});
                                          					},
                                          					onFinish: function (data) {
                                          						estimated_visits(data["from"], "#calculate_visits", {{ s("nochange/point") }});
                                          					},
                                          					onUpdate: function (data) {
                                          						estimated_visits(data["from"], "#calculate_visits", {{ s("nochange/point") }});
                                          					}
                                          				});
                                            			  });
                                                    });
                                                    </script>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card">
                                            <div class="card-status card-status-left bg-indigo"></div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="form-label">{{ l("max_per_hour") }}</label>
                                                    <input type="text" style="display:none;" id="max_per_hour" name="max_hour_hits" value="{{ item.max_hour_hits }}" />
                                                    <script>
                                                    require(['slider', 'jquery'], function(ionRangeSlider, $) {
                                                        $(document).ready(function(){
                                                            $("#max_per_hour").ionRangeSlider({
                                              				  type: "single",
                                              				  min: 100,
                                              				  max: 5000,
                                              				  from: {{ item.max_hour_hits }},
                                              				  keyboard: true
                                              			  });
                                            			  });
                                                    });
                                                    </script>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card">
                                            <div class="card-status card-status-left bg-indigo"></div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                  <div class="form-label">{{ l("limit_total_hits") }}</div>
                                                  <div class="custom-switches-stacked">
                                                    <label class="custom-switch">
                                                      <input name="apply_limit" value="off" class="custom-switch-input" {% if item.max_hits == '0' %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator"></span>
                                                      <span class="custom-switch-description">{{ l("unlimited") }}</span>
                                                    </label>
                                                    <label class="custom-switch">
                                                      <input name="apply_limit" value="on" class="custom-switch-input" {% if item.max_hits != '0' %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator"></span>
                                                      <span class="custom-switch-description">{{ l("limited") }}</span>
                                                    </label>
                                                  </div>
                                                  <div id="total_limit" {% if item.max_hits == '0' %}style="display:none;"{% endif %} >
                                                      <div class="row gutters-sm" >
                                                          <div class="col">
                                                              <div class="input-icon">
                                                                  <span class="input-icon-addon">
                                                                      <i class="fe fe-bar-chart"></i>
                                                                  </span>
                                                                  <input class="form-control" placeholder="10000" name="max_hits" value="{{ item.max_hits }}" type="text">
                                                              </div>
                                                          </div>
                                                          <span class="col-auto align-self-center">
                                                            <span class="form-help" data-toggle="popover" data-placement="top" data-content="<p>{{ l("limited_hits_note") }}</p>" data-original-title="" title="">?</span>
                                                        </span>
                                                    </div>
                                                    <hr>
                                                    <p><small>{{ l("total_action_hits_note") }}</small></p>
                                                    <div class="custom-controls-stacked">
                                                          <label class="custom-control custom-radio">
                                                            <input class="custom-control-input" name="total_action" value="keep" checked="" type="radio">
                                                            <span class="custom-control-label">{{ l("keep_counting_hits") }}</span>
                                                          </label>
                                                          <label class="custom-control custom-radio">
                                                            <input class="custom-control-input" name="total_action" value="clear" type="radio">
                                                            <span class="custom-control-label">{{ l("startover_counting_hits") }}</span>
                                                          </label>
                                                    </div>
                                                  </div>
                                                  <script>
                                                  require(['jquery'], function($) {
                                                      $(document).ready(function(){
                                                          $('input:radio[name="apply_limit"]').change(function(){
                                          					if ($(this).is(':checked') && $(this).val() == 'on') {
                                          						$("#total_limit").slideDown(300);
                                          					} else {
                                          						$("#total_limit").slideUp(300);
                                          					}
                                          				});
                                                      });
                                                  });
                                                  </script>
                                                </div>
                                            </div>
                                          </div>

                                          {% set useragent_disabled = '' %}
                                          {% set useragent_bg       = '' %}
                                          {% set useragent_body     = '' %}
                                          {% set useragent_alert    = false %}
                                          <div class="card">

                                            {% if useragent_alert %}
                                            <div class="card-alert alert alert-primary mb-0">
                                              <i class="fe fe-lock" ></i> {{ l("upgrade_feature_note") }} <a href="{{ router("payments") }}" >{{ l("upgrade") }}</a>
                                            </div>
                                            {% else %}
                                            <div class="card-status card-status-left bg-indigo"></div>
                                            {% endif %}
                                            <div class="card-body {{ useragent_body }}">
                                                <div class="form-group">
                                                  <div class="form-label">{{ l("user_agent") }}</div>
                                                  <div class="custom-switches-stacked">
                                                    <label class="custom-switch">
                                                      <input name="apply_useragent" {{ useragent_disabled }} value="off" class="custom-switch-input" {% if item.useragent == 'random' or useragent_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator {{ useragent_bg }}"></span>
                                                      <span class="custom-switch-description">{{ l("random_devices") }}</span>
                                                    </label>
                                                    <label class="custom-switch">
                                                      <input name="apply_useragent" {{ useragent_disabled }} value="on" class="custom-switch-input" {% if item.useragent != 'random' and not useragent_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator"></span>
                                                      <span class="custom-switch-description">{{ l("specified_device") }}</span>
                                                    </label>
                                                  </div>
                                                  {% if not useragent_alert %}
                                                  <div id="show_devices" {% if item.useragent == 'random' %}style="display:none;"{% endif %} class="input-icon">
                                                      <div class="selectgroup w-100">
                                                            <label class="selectgroup-item">
                                                              <input name="useragent" value="smartphone" {% if item.useragent == 'smartphone' %}checked=""{% endif %}  class="selectgroup-input" type="radio">
                                                              <span class="selectgroup-button selectgroup-button-icon"><i class="fe fe-smartphone"></i> {{ l("smartphone")|upper }}</span>
                                                              <i class="mt-2" ></i>
                                                            </label>
                                                            <label class="selectgroup-item">
                                                              <input name="useragent" value="tablet" {% if item.useragent == 'tablet' %}checked=""{% endif %}  class="selectgroup-input" type="radio">
                                                              <span class="selectgroup-button selectgroup-button-icon"><i class="fe fe-tablet"></i> {{ l("tablet")|upper }}</span>
                                                            </label>
                                                            <label class="selectgroup-item">
                                                              <input name="useragent" value="desktop" {% if item.useragent == 'desktop' %}checked=""{% endif %} class="selectgroup-input" type="radio">
                                                              <span class="selectgroup-button selectgroup-button-icon"><i class="fe fe-monitor"></i> {{ l("desktop")|upper }}</span>
                                                            </label>
                                                      </div>
                                                  </div>
                                                  <script>
                                                  require(['jquery'], function($) {
                                                      $(document).ready(function(){
                                                          $('input:radio[name="apply_useragent"]').change(function(){
                                          					if ($(this).is(':checked') && $(this).val() == 'on') {
                                          						$("#show_devices").slideDown(300);
                                          					} else {
                                          						$("#show_devices").slideUp(300);
                                          					}
                                          				});
                                                      });
                                                  });
                                                  </script>
                                                  {% else %}
                                                  <input type="hidden" name="apply_useragent" value="off" />
                                                  {% endif %}
                                                </div>
                                            </div>
                                          </div>

                                          {% set source_disabled = '' %}
                                          {% set source_bg       = '' %}
                                          {% set source_body     = '' %}
                                          {% set source_alert    = false %}
                                          <div class="card">
                                              {% if source_alert %}
                                              <div class="card-alert alert alert-primary mb-0">
                                                <i class="fe fe-lock" ></i> {{ l("upgrade_feature_note") }} <a href="{{ router("payments") }}" >{{ l("upgrade") }}</a>
                                              </div>
                                              {% else %}
                                              <div class="card-status card-status-left bg-indigo"></div>
                                              {% endif %}
                                            <div class="card-body {{ source_body }}">
                                                <div class="form-group">
                                                  <div class="form-label">{{ l("traffic_source") }}</div>
                                                  <div class="custom-switches-stacked">
                                                    <label class="custom-switch">
                                                      <input name="apply_source" {{ source_disabled }} value="off" class="custom-switch-input" {% if not item.source|trim or source_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator {{ source_bg }}"></span>
                                                      <span class="custom-switch-description">{{ l("no_referer") }}</span>
                                                    </label>
                                                    <label class="custom-switch">
                                                      <input name="apply_source" {{ source_disabled }} value="on" class="custom-switch-input" {% if item.source|trim and not source_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator"></span>
                                                      <span class="custom-switch-description">{{ l("custom_referer") }}</span>
                                                    </label>
                                                  </div>
                                                  {% if not source_alert %}
                                                  <div id="show_referrer" {% if not item.source|trim  %}style="display:none;"{% endif %} class="row gutters-sm">
                                                      <div class="col">
                                                          <div class="input-icon">
                                                              <span class="input-icon-addon">
                                                                  <i class="fe fe-git-branch"></i>
                                                              </span>
                                                              <input class="form-control" name="source" placeholder="{{ l("web_example_url") }}" value="{{ item.source|escape }}" type="text">
                                                          </div>
                                                      </div>
                                                      <span class="col-auto align-self-center">
                                                        <span class="form-help" data-toggle="popover" data-placement="top" data-content="<p>{{ l("custom_source_note") }}</p>" data-original-title="" title="">?</span>
                                                    </span>
                                                  </div>

                                                  <script>
                                                  require(['jquery'], function($) {
                                                      $(document).ready(function(){
                                                          $('input:radio[name="apply_source"]').change(function(){
                                          					if ($(this).is(':checked') && $(this).val() == 'on') {
                                          						$("#show_referrer").slideDown(300);
                                          					} else {
                                          						$("#show_referrer").slideUp(300);
                                          					}
                                          				});
                                                      });
                                                  });
                                                  </script>
                                                  {% else %}
                                                  <input type="hidden" name="apply_source" value="off" />
                                                  {% endif %}
                                                </div>
                                            </div>
                                          </div>

                                          {% set geo_disabled = '' %}
                                          {% set geo_bg       = '' %}
                                          {% set geo_body     = '' %}
                                          {% set geo_alert    = false %}
                                          <div class="card">
                                              {% if geo_alert %}
                                              <div class="card-alert alert alert-primary mb-0">
                                                <i class="fe fe-lock" ></i> {{ l("upgrade_feature_note") }} <a href="{{ router("payments") }}" >{{ l("upgrade") }}</a>
                                              </div>
                                              {% else %}
                                              <div class="card-status card-status-left bg-indigo"></div>
                                              {% endif %}
                                            <div class="card-body {{ geo_body }}">
                                                <div class="form-group">
                                                  <div class="form-label">{{ l("get_target") }}</div>
                                                  <div class="custom-switches-stacked">
                                                    <label class="custom-switch">
                                                      <input name="apply_geolocation" {{ geo_disabled }} value="off" class="custom-switch-input" {% if item.geolocation|trim == '[ALL]' or geo_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator {{ geo_bg }}"></span>
                                                      <span class="custom-switch-description">{{ l("all_countries") }}</span>
                                                    </label>
                                                    <label class="custom-switch">
                                                      <input name="apply_geolocation" {{ geo_disabled }} value="on" class="custom-switch-input" {% if item.geolocation|trim != '[ALL]' and not geo_alert %}checked=""{% endif %} type="radio">
                                                      <span class="custom-switch-indicator"></span>
                                                      <span class="custom-switch-description">{{ l("specific_countries") }}</span>
                                                    </label>
                                                  </div>
                                                  {% if not geo_alert %}
                                                  {% spaceless %}
                                                  <div id="geo_targeting" style="padding: 10px auto;border-radius:7px;border: 1px solid rgba(0, 40, 100, 0.12);height:250px;overflow:auto;{% if item.geolocation|trim == '[ALL]' %}display:none;{% endif %}" >
                                                      <div style="padding: 10px;" class="selectgroup selectgroup-pills">
                                                          {% set targets = s("geotarget/list") %}
                                                          {% if targets %}
                                                          {% for key, target in targets %}
                                                              {% if check_selected_country(key, item.geolocation) %}
                                                                <label class="select_location selectgroup-item">
                                                                  <input name="geolocation[]" value="{{ key }}" checked="" class="selectgroup-input" type="checkbox">
                                                                  <span class="selectgroup-button">
                                                                      <span style="background-image:url('{{ turl() }}/assets/images/flags/{{ key|lower }}.svg');" class="country_flag">{{ target }}</span>
                                                                  </span>
                                                                </label>
                                                              {% else %}
                                                                <label class="select_location selectgroup-item">
                                                                  <input name="geolocation[]" value="{{ key }}" class="selectgroup-input" type="checkbox">
                                                                  <span class="selectgroup-button">
                                                                      <span style="background-image:url('{{ turl() }}/assets/images/flags/{{ key|lower }}.svg');" class="country_flag">{{ target }}</span>
                                                                  </span>
                                                                </label>
                                                              {% endif %}
                                                          {% endfor %}
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  <div {% if item.geolocation|trim == '[ALL]' %}style="display:none;"{% endif %} class="mt-2" id="geo_targeting_selected" >
                                                      <div class="avatar-list"></div>
                                                  </div>
                                                  {% endspaceless %}
                                                  <script>
                                                  require(['jquery'], function($) {
                                                      $(document).ready(function(){
                                                          var countries_length = 0;
                                                          var ele_selected = $("#geo_targeting_selected");
                                                          $('input:checkbox[name="geolocation[]"]').each(function(){
                                                              if ($(this).is(':checked')) {
                                                                  var selected_code = 'selected_country_'+$(this).val();
                                                                  countries_length++;
                                                                  ele_selected.find(".avatar-list").prepend('<span class="'+selected_code+' avatar normal_avatar" ></span>').find(":first").css({
                                                                      "background-image": $(this).parent().find(".selectgroup-button span").css("background-image")
                                                                  });
                                                                  if(ele_selected.find(".avatar-list .normal_avatar").length > 14)
                                                                  {
                                                                      ele_selected.find(".avatar-list .normal_avatar:visible:last").hide();
                                                                      var count_countries = Math.floor(countries_length - 14);
                                                                      if(ele_selected.find(".avatar-list .avatar:last").hasClass("country_counter"))
                                                                      {
                                                                          ele_selected.find(".avatar-list .avatar.country_counter").hide().html("+"+count_countries).fadeIn(200);
                                                                      } else {
                                                                          ele_selected.find(".avatar-list").append('<span style="display:none;" class="country_counter avatar">+'+count_countries+'</span>').find(".country_counter").fadeIn(200);
                                                                      }
                                                                  }
                                                              }
                                                          });

                                                          $('input:checkbox[name="geolocation[]"]').change(function(){
                                                              var selected_code = 'selected_country_'+$(this).val();
                                                              if ($(this).is(':checked')) {
                                                                  countries_length++;
                                                                  ele_selected.find(".avatar-list").prepend('<span class="'+selected_code+' avatar normal_avatar" ></span>').find(":first").css({
                                                                      "background-image": $(this).parent().find(".selectgroup-button span").css("background-image"),
                                                                      "display" : "none"
                                                                  }).slideDown(300);
                                                                  if(ele_selected.find(".avatar-list .normal_avatar").length > 14)
                                                                  {
                                                                      ele_selected.find(".avatar-list .normal_avatar:visible:last").hide();
                                                                      var count_countries = Math.floor(countries_length - 14);
                                                                      if(ele_selected.find(".avatar-list .avatar:last").hasClass("country_counter"))
                                                                      {
                                                                          ele_selected.find(".avatar-list .avatar.country_counter").hide().html("+"+count_countries).fadeIn(200);
                                                                      } else {
                                                                          ele_selected.find(".avatar-list").append('<span style="display:none;" class="country_counter avatar">+'+count_countries+'</span>').find(".country_counter").fadeIn(200);
                                                                      }
                                                                  }
                                          					} else {
                                                                  countries_length--;
                                                                  var count_countries = Math.floor(countries_length - 14);
                                          						$("."+selected_code).slideUp(200); setTimeout(function(){ $("."+selected_code).remove(); }, 250);
                                                                  if(ele_selected.find(".avatar-list .avatar:last").hasClass("country_counter"))
                                                                  {
                                                                      ele_selected.find(".avatar-list .avatar.country_counter").html("+"+count_countries);
                                                                      if(ele_selected.find(".avatar-list .normal_avatar:visible").length < 15)
                                                                      {
                                                                          ele_selected.find(".avatar-list .normal_avatar:hidden:first").slideDown(300).addClass("hidden_avatar");
                                                                      }
                                                                  }
                                          					}
                                                              if(countries_length < 15)
                                                              {
                                                                  ele_selected.find(".avatar-list .avatar.country_counter").remove();
                                                              }
                                          				});
                                                          $('input:radio[name="apply_geolocation"]').change(function(){
                                          					if ($(this).is(':checked') && $(this).val() == 'on') {
                                                                  setTimeout(function(){
                                                                      $("#geo_targeting").slideDown(300);
                                                                      $("#geo_targeting_selected").fadeIn(300);
                                                                  }, 500);
                                          					} else {
                                          						$("#geo_targeting").slideUp(300);
                                                                  $("#geo_targeting_selected").fadeOut(300);
                                          					}
                                          				});
                                                      });
                                                  });
                                                  </script>
                                                  {% else %}
                                                  <input type="hidden" name="apply_geolocation" value="off" />
                                                  {% endif %}
                                                </div>
                                            </div>
                                          </div>

                                          <div class="mt-2 mb-2 btn-list">
                                              <button type="submit" class="surfow_submit btn btn-indigo btn-pill mb-1">{{ l("save") }} <i class="fe fe-save"></i></button>
                                          </div>

                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
        {{ include("footer_content.html") }}
    </div>
{{ include("footer.html") }}{% endspaceless %}
