{% spaceless %}{{ include("header.html") }}
{% set user = get("user") %}
    <div class="page">
        <div class="page-main">
          {{ include("head_menu.html") }}
          {{ include("main_menu.html") }}
          <div class="my-3 my-md-5">
              <div class="container">
                <div class="page-header">
                  <h1 class="page-title">
                    {{ _get("title2") }}
                  </h1>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        {{ include("checking_list_menu.html") }}
                    </div>
                    <div class="col-lg-9 col-md-12">
                        {% set items = get("items") %}
                        {% if items %}
                            {% for item in items %}
                            {% set uniqueid = surfow_encrypt(item.id) %}
                            {% set session_key = generate_session_key(item.id) %}
                            {% set this_table = 'exchange' %}
                            {% set current_color = "green" %}
                            <div id="item_{{ uniqueid }}" class="card p-3 dimmer">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="card-status card-status-left bg-{{ current_color }}"></div>
                                    <div class="card-body">
                                        <div class="list-group list-group-transparent mt-0 mb-0">
                                            <h2 style="font-weight: 300;" class="list-group-item list-group-item-action d-flex align-items-center" >
                                                <span class="icon mr-3"><i class="fe fe-hash"></i></span>
                                                <input class="session_input" readonly="" type="text" onclick="this.select();" value="{{ session_key }}" />
                                            </h2>
                                            <h2 style="font-weight: 300;" class="list-group-item list-group-item-action d-flex align-items-center" >
                                                <span class="icon mr-3"><i class="fe fe-cast"></i></span>
                                                <a href="t-exchange://{{ session_key }}" class="btn btn-{{ current_color }} btn-sm btn-pill btn-icon">{{ l("start_session") }}</a>
                                                <small style="font-weight:300;font-size:0.5em;" class="ml-2" ><span class="status-icon bg-success"></span> {{ l("active_now") }}</small>
                                            </h2>
                                        </div>
                                    </div>
                                      <div class="d-flex align-items-center px-2">
                                        <div>
                                          <small class="d-block text-muted">{{ time_ago(item.updated_at) }}</small>
                                        </div>
                                        <div class="ml-auto text-muted">
                                            <div class="item-action dropdown">
                                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" >
                                                <a id="enable_{{ uniqueid }}" data-action="enable" data-table="{{ this_table }}" data-id="{{ item.id }}" data-target="{{ uniqueid }}" href="javascript:void(0)" class="item_action dropdown-item" {% if item.status %}style="display:none;"{% endif %} ><i class="dropdown-icon fe fe-play"></i> {{ l("enable") }}</a>
                                                <a id="disable_{{ uniqueid }}" data-action="disable" data-table="{{ this_table }}" data-id="{{ item.id }}" data-target="{{ uniqueid }}" href="javascript:void(0)" class="item_action dropdown-item" {% if not item.status %}style="display:none;"{% endif %} ><i class="dropdown-icon fe fe-pause"></i> {{ l("disable") }}</a>
                                                <a id="delete_{{ uniqueid }}" data-action="delete" data-table="{{ this_table }}" data-id="{{ item.id }}" data-target="{{ uniqueid }}" href="javascript:void(0)" class="item_action dropdown-item"><i class="dropdown-icon fe fe-trash"></i> {{ l("delete") }}</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-x"></i> {{ l("cancel") }}</a>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            {% endfor %}
                            {{ _get("pagination") }}
                        {% else %}
                            <p>{{ l("error_empty_items") }}</p>
                        {% endif %}
                    </div>
                </div>
              </div>
          </div>
        </div>
        {{ include("footer_content.html") }}
    </div>
{{ include("footer.html") }}{% endspaceless %}
